

body {
    color: #cdcdcd;
    font-family: "Avenir Next", "Avenir",monospace ,sans-serif;
    
}

article{
    border: 3px rgba(255, 255, 255, 0.562);
    border-style: none;
    border-width: 3px;

    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    
    padding: 1em;
    max-width: 80%;

    text-align: center;
}


h2{
    font-style: italic;
    color: rgb(199, 136, 20);
    text-align: center;
    padding-bottom: 30px;
    
}

/*fotky*/

.polaroid {
    width: 43%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    margin: auto;
    margin-bottom: 25px;
    
    
}  

.container {
    color: black;
    text-align: center;
    padding: 10px 20px;
}

/*konec fotek*/


/*zacatek*/
.header{
    width: 100%;
    height: 80px;
    display: table;
    background-color: rgb(190, 135, 40);   

}

.inner_header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: auto;
}

.logo_container{
    height: 100%;
    display: table;
    margin: auto;

}

.logo_container h1{
    color: azure;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: monospace;
    font-size: 32px;
    font-weight: 200;
    
}


/*konec*/
.footer {
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: rgb(190, 135, 40);

}

.inner_footer {
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;

}
